.block{
    display: block;
    background-color: yellow;
    margin-bottom: 30px;
    width: 150px;
    height: 90px;
}

.inline{
    display: inline;
    background-color: green;
}

.inlineBlock{
    display: inline-block;
    background-color: red;
    width: 200px;
    height: 100px;
}

p{
    background-color: blue;
    color: white;
    padding: 10px;
    width: 300px;
    visibility: hidden;
    display: none;

}

.Container{
    width: 200px;
    height: 100px;
    margin-top: 30px;
    margin-left: 50px;
    border: 2px solid black;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
}