*{
    margin: 0%;
    padding: 0%;
}

h1{
    background-color: yellow;
    position: fixed;
    width: 100%;
}
.absolute{
    width: 300px;
    height: 250px;
    background-color: rgb(39, 6, 202);
    position: absolute;
    top: 120px;
    left: 30px;

}

.relative{
    width: 150px;
    height: 150px;
    background-color: green;
    position: relative;
    top: 50px;
    left: 10px;
}

.btn{
    background-color: brown;
    color: white;
    padding: 10px;
    border: none;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
   position: sticky;
   top: 100px;
   left: 20px;
}

